<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="localConnection" connectionString="Data Source=IN-CSCI-ASPNET;Initial Catalog=oanegron;Persist Security Info=True;User ID=oanegron;Password=o1815neg" />
    <add name="oanegronConnectionString" connectionString="Data Source=IN-CSCI-ASPNET;Initial Catalog=oanegron;Persist Security Info=True;User ID=oanegron;Password=o1815neg"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>